.custom-left-list {
  flex: none;
  position: relative;
  width: 250px;
  height: 100%;
  /* background: #1d1f26; */
  border-right: 1px solid #000000;
  overflow: auto;
  display: flex;
  flex-direction: column;
  span {
    font-size: 14px;
  }
  .custom-left-list-tools {
    background: #272b31a6;
    text-indent: 10px;
    height: 30px;
    color: #bcc9d4;
    line-height: 30px;
    position: relative;
    flex: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .custom-left-list-p {
    display: flex;
    flex-direction: column;
    height: calc(100% - 30px);
    .custom-left-list-p-count{
      padding: 10px;
    }
    .ant-tabs-nav-scroll{
      width:100%;
    }
    .ant-tabs-nav{
      width:100%;
    }
    .ant-tabs-ink-bar{
      width:50%;
    }
    .ant-tabs-nav .ant-tabs-tab{
      width:50%;
      margin: 0px;
      padding: 0px;
      height: 50px;
      line-height: 50px;
      text-align: center;
    }
    .ant-collapse-header {
      background: #2e343c;
      color: #bcc9d4 !important;
    }
    .ant-collapse-content {
      background: #2e343c !important;
      color: #bcc9d4;
    }
    .move-button .ant-btn-sm {
      width: 22.3%;
      padding: 0px 2px;
      left: 1%;
      color: #b6c2cd;
      background-color: #303640 !important;
      border-color: #303640 !important;
      margin-right: 5px;
      border-radius: 0px !important;
      font-size: 12px !important;
    }
    .custom-left-move-name{
      color: #bcc9d4;
      font-size: 15px;
      padding: 10px;
    }
    .showLayerName:hover {
      color: white;
      cursor: pointer;
    }
    .ant-tabs {
      color: white;
    }
    .ant-tabs-tabpane{
      overflow-y: auto;
      max-height: 700px; 
    }
  }
}