.custom-left-list {
  flex: none;
  position: relative;
  width: 250px;
  height: 100%;
  /* background: #1d1f26; */
  border-right: 1px solid #000000;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.custom-left-list-p {
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px);
}


.custom-left-list-p .ant-tabs-nav-scroll{
  width:100%;
}
.custom-left-list-p .ant-tabs-nav{
  width:100%;
}

.custom-left-list-p .ant-tabs-ink-bar{
  width:50%;
}


.custom-left-list-p .ant-tabs-nav .ant-tabs-tab{
  width:50%;
  margin: 0px;
  padding: 0px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.showLayerName:hover {
  color: white;
  cursor: pointer;
}
.moveLayerName {
}
.moveLayerNameHide {
  display: none;
}

.custom-left-list-p .ant-collapse-header {
  background: #2e343c;
  color: #bcc9d4 !important;
}

.custom-left-list-p .ant-collapse-content {
  background: #2e343c !important;
  color: #bcc9d4;
}

.custom-left-list-tools {
  background: #272b31a6;
  text-indent: 10px;
  height: 30px;
  color: #bcc9d4;
  line-height: 30px;
  position: relative;
  flex: none;
  -webkit-user-select: none;
  user-select: none;
}

.custom-left-list-toolbar {
  /* height: 30px; */
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  background: #20242a;
  cursor: pointer;
  position: relative;
  box-shadow: 0 1px 0px 0 rgba(238, 238, 238, 0.18);
}
.custom-left-list-toolbar-item {
  /* width: 100%; */
  height: 30px;
  position: relative;
  line-height: 30px;
  color: #bcc9d4;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  top: -37%;
  left: 5%;
}
.custom-left-list-toolbar-item:hover {
  color: white;
}

.custom-left-list-title-icons {
  float: right;
}
.move-button .ant-btn-sm {
  width: 22.3%;
  padding: 0px 2px;
  left: 1%;
  color: #b6c2cd;
  background-color: #303640 !important;
  border-color: #303640 !important;
  margin-right: 5px;
  border-radius: 0px !important;
  font-size: 12px !important;
}

.custom-left-list-p .ant-tabs {
  color: white;
}

.custom-left-move-name{
  color: #bcc9d4;
  font-size: 15px;
}

.custom-left-list span {
  font-size: 14px;
}