.mapboxgl-popup-anchor-bottom{
    width:350px !important;
    max-width: 350px;
    min-width: 350px;
}
.mapboxgl-popup-close-button {
    font-size: 30px;
    margin: -4px 5px;
    color: black!important;
}

html,body{
    overflow: hidden;
}
#root{
    overflow: hidden;
}
.custom-content-canvs{
    overflow: hidden;
}
