.control-panel {
  width: 325px;
  height: 100%;
  z-index: 90;
  /* background: #1c1f25; */
  border-left: 1px solid black;
  position: relative;
  color: white;
  transition: width 0.25s ease-in-out;
}

.control-panel-header {
  position: relative;
  /* background-color: #ddd; */
  height: 30px;
  line-height: 34px;
}
.control-panel-header-bg {
  text-align: center;
  color: #bcc9d4;
  background-color: #2e343c;
  line-height: 2.2;
}
.control-panel-header-bg-title {
  font-size: 14px;
}

.control-panel-container {
  padding: 5px;
}
.control-panel-container .ant-tabs-content{
 /*  overflow-y: auto;
  max-height: 740px; */
}

.control-panel-container .ant-tabs-tabpane{
  overflow-y: auto;
  max-height: 740px; 
}

.control-panel-container span {
  font-size: 14px;
}

.control-panel-container .ant-tabs {
  color: white;
}

.control-panel-container .ant-tabs-nav-wrap {
  text-align: center;
}
.control-panel-container ::-webkit-scrollbar{
  display: none;
}


.control-panel-container .ant-tabs-nav-scroll{
  width:100%;
}
.control-panel-container .ant-tabs-nav{
  width:100%;
}

.control-panel-container .ant-tabs-ink-bar{
  width:50%;
}


.control-panel-container .ant-tabs-nav .ant-tabs-tab{
  width:50%;
  margin: 0px;
  padding: 0px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
