
.grid-item {
    position: absolute;
    .grid-item-scale-show{
        position: absolute;
        /* height: 100px;
        width: 100px;
        left: -150px;
        top: -150px;
        opacity: 0; */
        height:30%;
        width:20%;
        left:40%;
        top: -30%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        .grid-item-scale-show-icon{
            background: url("../img/icon/rotateIcon.png"); 
            height: 50%;
            width: 100%;
            background-size: 100% 100%;
        }
        .grid-item-scale-show-line{
            background-color: #896b6b;
            height: 50%;
            width: 3%;
        }
    }
    .grid-item-update-icon {
        position: absolute;
        margin-top: 5px;
        cursor: pointer;
        z-index: 999;
        display: none;
        width: 20px;
        color: white;
        font-size: 17px;
    }
    
}

.grid-item:hover .grid-item-update-icon {
    display: inline-block;
}

.item {
    font-size: 30px;
    position: relative;
    /* background: #0a3f5f; */
   
}
.item:hover{
    outline: 1px solid #18a6f9;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
}
.itemClick{
    outline: 1px solid #18a6f9;
    background: #18a6f926;
}

#map:hover .item{
    outline: 1px solid #18a6f9;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
}

.textLayer{
    color: white;
    font-size: 30px;
    font-family: auto;
    text-decoration:none;
    font-weight: normal;
}


.textLayer :link{
    color: white;
}
.textLayer :visited{
    color: white;
}.textLayer :hover{
    color: white;
}.textLayer :active{
    color: white;
}

/* .singleChart:hover + div{
    outline: 1px solid #18a6f9;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
} */