
.grid-item {
    position: absolute;
    .grid-item-scale-show{
        position: absolute;
        /* height: 100px;
        width: 100px;
        left: -150px;
        top: -150px;
        opacity: 0; */
        height: 34px;
        width: 20%;
        left: 40%;
        top: -34px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        .grid-item-scale-show-icon{
            background: url("../img/icon/rotateIcon.png");
            height: 24px;
            width: 24px;
            /* background-size: 100% 100%; */
            background-repeat: no-repeat;
        }
        .grid-item-scale-show-line{
            background-color: #896b6b;
            height: 50%;
            width: 3%;
        }
    }
    .grid-item-update-icon {
        position: absolute;
        margin-top: 5px;
        cursor: pointer;
        z-index: 999;
        display: none;
        width: 20px;
        color: white;
        font-size: 17px;
    }
    .grid-item-shade{
        width: 100%;
        height: 100%;
        position: relative;
        top: -100%;
        .resizable-handler {
            position: absolute;
            width: 14px;
            height: 14px;
            cursor: pointer;
            z-index: 1;
        }
        .square {
            position: absolute;
            width: 7px;
            height: 7px;
            background: white;
            border: 1px solid #eb5648;
            border-radius: 1px;
        }

    }
}

.fFutOK .resizable-handler.t, .fFutOK .resizable-handler.b {
    margin-left: -7px;
}
.fFutOK .resizable-handler.tl, .fFutOK .resizable-handler.t, .fFutOK .resizable-handler.tr {
    top: -7px;
}
.fFutOK .t, .fFutOK .b {
    left: 50%;
    margin-left: -3px;
}
.fFutOK .t, .fFutOK .tl, .fFutOK .tr {
    top: -3px;
}


.fFutOK .resizable-handler.l, .fFutOK .resizable-handler.r {
    margin-top: -7px;
}
.fFutOK .resizable-handler.tl, .fFutOK .resizable-handler.l, .fFutOK .resizable-handler.bl {
    left: -7px;
}
.fFutOK .l, .fFutOK .r {
    top: 50%;
    margin-top: -3px;
}
.fFutOK .tl, .fFutOK .l, .fFutOK .bl {
    left: -3px;
}

.fFutOK .resizable-handler.t, .fFutOK .resizable-handler.b {
    margin-left: -7px;
}
.fFutOK .resizable-handler.bl, .fFutOK .resizable-handler.b, .fFutOK .resizable-handler.br {
    bottom: -7px;
}
.fFutOK .t, .fFutOK .b {
    left: 50%;
    margin-left: -3px;
}
.fFutOK .b, .fFutOK .bl, .fFutOK .br {
    bottom: -3px;
}


.fFutOK .resizable-handler.l, .fFutOK .resizable-handler.r {
    margin-top: -7px;
}
.fFutOK .resizable-handler.br, .fFutOK .resizable-handler.r, .fFutOK .resizable-handler.tr {
    right: -7px;
}
.fFutOK .l, .fFutOK .r {
    top: 50%;
    margin-top: -3px;
}
.fFutOK .r, .fFutOK .tr, .fFutOK .br {
    right: -3px;
}

.fFutOK .resizable-handler.tl, .fFutOK .resizable-handler.l, .fFutOK .resizable-handler.bl {
    left: -7px;
}
.fFutOK .resizable-handler.tl, .fFutOK .resizable-handler.t, .fFutOK .resizable-handler.tr {
    top: -7px;
}
.fFutOK .tl, .fFutOK .l, .fFutOK .bl {
    left: -3px;
}
.fFutOK .t, .fFutOK .tl, .fFutOK .tr {
    top: -3px;
}


.fFutOK .resizable-handler.br, .fFutOK .resizable-handler.r, .fFutOK .resizable-handler.tr {
    right: -7px;
}
.fFutOK .resizable-handler.tl, .fFutOK .resizable-handler.t, .fFutOK .resizable-handler.tr {
    top: -7px;
}
.fFutOK .r, .fFutOK .tr, .fFutOK .br {
    right: -3px;
}
.fFutOK .t, .fFutOK .tl, .fFutOK .tr {
    top: -3px;
}

.fFutOK .resizable-handler.br, .fFutOK .resizable-handler.r, .fFutOK .resizable-handler.tr {
    right: -7px;
}
.fFutOK .resizable-handler.bl, .fFutOK .resizable-handler.b, .fFutOK .resizable-handler.br {
    bottom: -7px;
}
.fFutOK .r, .fFutOK .tr, .fFutOK .br {
    right: -3px;
}
.fFutOK .b, .fFutOK .bl, .fFutOK .br {
    bottom: -3px;
}


.fFutOK .resizable-handler.bl, .fFutOK .resizable-handler.b, .fFutOK .resizable-handler.br {
    bottom: -7px;
}
.fFutOK .resizable-handler.tl, .fFutOK .resizable-handler.l, .fFutOK .resizable-handler.bl {
    left: -7px;
}
.fFutOK .tl, .fFutOK .l, .fFutOK .bl {
    left: -3px;
}
.fFutOK .b, .fFutOK .bl, .fFutOK .br {
    bottom: -3px;
}


.fFutOK .t, .fFutOK .b {
    left: 50%;
    margin-left: -3px;
}
.fFutOK .t, .fFutOK .tl, .fFutOK .tr {
    top: -3px;
}

.fFutOK .l, .fFutOK .r {
    top: 50%;
    margin-top: -3px;
}
.fFutOK .tl, .fFutOK .l, .fFutOK .bl {
    left: -3px;
}

.fFutOK .t, .fFutOK .b {
    left: 50%;
    margin-left: -3px;
}
.fFutOK .b, .fFutOK .bl, .fFutOK .br {
    bottom: -3px;
}

.fFutOK .l, .fFutOK .r {
    top: 50%;
    margin-top: -3px;
}
.fFutOK .r, .fFutOK .tr, .fFutOK .br {
    right: -3px;
}

.fFutOK .tl, .fFutOK .l, .fFutOK .bl {
    left: -3px;
}
.fFutOK .t, .fFutOK .tl, .fFutOK .tr {
    top: -3px;
}


.fFutOK .r, .fFutOK .tr, .fFutOK .br {
    right: -3px;
}
.fFutOK .t, .fFutOK .tl, .fFutOK .tr {
    top: -3px;
}

.fFutOK .r, .fFutOK .tr, .fFutOK .br {
    right: -3px;
}
.fFutOK .b, .fFutOK .bl, .fFutOK .br {
    bottom: -3px;
}

.fFutOK .tl, .fFutOK .l, .fFutOK .bl {
    left: -3px;
}
.fFutOK .b, .fFutOK .bl, .fFutOK .br {
    bottom: -3px;
}

.grid-item:hover .grid-item-update-icon {
    display: inline-block;
}

.item {
    font-size: 30px;
    position: relative;
    /* background: #0a3f5f; */
   
}
.item:hover{
    outline: 1px solid #18a6f9;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
}
.itemClick{
    outline: 1px solid #18a6f9;
    background: #18a6f926;
}

#map:hover .item{
    outline: 1px solid #18a6f9;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
}

.textLayer{
    color: white;
    font-size: 30px;
    font-family: auto;
    text-decoration:none;
    font-weight: normal;
}


.textLayer :link{
    color: white;
}
.textLayer :visited{
    color: white;
}.textLayer :hover{
    color: white;
}.textLayer :active{
    color: white;
}

/* .singleChart:hover + div{
    outline: 1px solid #18a6f9;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
} */