.remove {
    position: absolute;
    right: 7px;
    top: 1px;
    cursor: pointer;
    z-index: 999;
    display: none;
}

.grid-item {
    position: absolute;
}

.grid-item:hover .remove {
    display: inline-block;
}

.item {
    font-size: 30px;
    position: relative;
    /* background: #0a3f5f; */
   
}
.item:hover{
    outline: 1px solid #18a6f9;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
}
.itemClick{
    outline: 1px solid #18a6f9;
    background: #18a6f926;
}

#map:hover .item{
    outline: 1px solid #18a6f9;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
}

.textLayer{
    color: white;
    font-size: 30px;
    font-family: auto;
    text-decoration:none;
    font-weight: normal;
}


.textLayer :link{
    color: white;
}
.textLayer :visited{
    color: white;
}.textLayer :hover{
    color: white;
}.textLayer :active{
    color: white;
}

/* .singleChart:hover + div{
    outline: 1px solid #18a6f9;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
} */