$color-white : white;
.custom-content {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  background: #181a2c;
  height: calc(100% - 42px);
  .custom-content-p {
    width: calc(100% - 500px);
    height: 100%;
    position: relative;
  }
  .custom-content-top{
    position: relative;
    height:96%;
    overflow: auto;
  }
  .custom-content-bottom{
    height: 4%;
    border-bottom: 2px solid #434b55;
  }
  .custom-content-canvs {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-origin: 0 0;
    background-size: 100% 100%;
    box-shadow: rgba(0,0,0,.5) 0 0 30px 0;
  }
  .custom-content-title {
    height: 30px;
    position: relative;
    width: 100%;
    background-color: #1c1e22;
    text-align: center;
    line-height: 2;
    span {
      color: $color-white;
    }
  }

}
.ant-modal-header{
  background-color: #181a2c;
  color: $color-white;
}

.ant-modal-content{
  background-color: #181a2c;
  color: $color-white;
}
.ant-modal-close{
  color: $color-white;
}
.ant-modal-confirm-content{
  color: $color-white !important;
}
.ant-modal-title{
  color: $color-white;
}

.site-dropdown-context-menu {
  background: #f7f7f7;
  color: #777;
}

.bg1{
  background-image: url('../img/bg/bg1.png');
}
.bg2{
  background-image: url('../img/bg/bg2.png');
}
.bg3{
  background-image: url('../img/bg/bg3.png');
}
.bg4{
  background-image: url('../img/bg/bg4.png');
}
.bg5{
  background-image: url('../img/bg/bg5.png');
}
.bg6{
  background-image: url('../img/bg/bg6.png');
}


.ant-collapse-borderless > .ant-collapse-item {
  border-bottom: 1px solid #000;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}