.custom-content {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  background: #181a2c;
  height: calc(100% - 42px);
}
.custom-content-p {
  width: calc(100% - 525px);
  height: 100%;
  position: relative;
}
.custom-content-top{
  position: relative;
  height:96%;
  overflow: auto;
}
.custom-content-bottom{
  height: 4%;
}
.custom-content-canvs {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-origin: 0 0;
  left:60px;
  top:60px;
  background-size: 100% 100%;
  box-shadow: rgba(0,0,0,.5) 0 0 30px 0;
}

.ant-collapse-borderless > .ant-collapse-item {
  border-bottom: 1px solid #000;
}

.custom-content-title {
  height: 30px;
  position: relative;
  width: 100%;
  background-color: #1c1e22;
  text-align: center;
  line-height: 2;
}

.custom-content-title span {
  color: white;
}


.bg1{
  background-image: url('../img/bg/bg1.png');
}
.bg2{
  background-image: url('../img/bg/bg2.png');
}
.bg3{
  background-image: url('../img/bg/bg3.png');
}
.bg4{
  background-image: url('../img/bg/bg4.png');
}
.bg5{
  background-image: url('../img/bg/bg5.png');
}
.bg6{
  background-image: url('../img/bg/bg6.png');
}