.custom-content {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  background: #1c1e22;
  height: calc(100% - 42px);
}
.custom-content-p {
  width: calc(100% - 450px);
  height: 100%;
  overflow: auto;
  position: relative;
}
.custom-content-canvs {
  height: 100%;
  width: 100%;
}

.ant-collapse-borderless > .ant-collapse-item {
  border-bottom: 1px solid #000;
}

.custom-content-title {
  height: 30px;
  position: relative;
  width: 100%;
  background-color: #1c1e22;
  text-align: center;
  line-height: 2;
}

.custom-content-title span {
  color: white;
}
